#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;800;900&family=Raleway:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@200;300;500;800;900&display=swap');




ul {
  list-style: none;
  margin-block-end: 0;
}

#screenMaker, #screenPizza {
  border: 1px red solid;
  border-radius: 10px;
  background-image: url(./FUNDO-APP.png);
  width: 300px;
  height: 470px;
}

.top-area {
background-color: #ffffffff;
border-radius: 8px;
width: 270px;
height: 38px;
margin: 0 auto;


}


.top-area > h1 {
  text-align: center;
  display: block;
  
  
}


h1{
 
  margin-block-end: 0;
  font-family: 'Fredoka One', cursive;
  color: #A5261D;
  font-size: 30px;
}

h2, label {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #ffffffff;
}

footer {
  align-items: right;
  margin-block-start: 12px;
}

footer button {
  font-size: xx-large;
  
  display: block;
  /* align to right */
  margin-left: auto;
  margin-right: 0;
}

label {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 10px;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section ul {
  list-style: none;
  padding-left: 5px;
  padding-right: 15px;
}


#screenPizza footer button {  
  /* align to left */
  margin-left: 0;
  margin-right: auto;
}

#imagens {
  width: 300px;
  height: 410px;
  position: relative;
}

#img-client {
  padding-top: 12px;
  width: 152px;
  height: 200px;
  }

#imagens img {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 55px;
}

#imagens #imageBase {
  width: 210px;
  height: 210px;

  top: 110px;
  left: 50px;
}
.img-icon {
  width: 40px;
}

.hidden {
  display: none;
}




